<template>
<div class="col-md-offset-4 col-md-4">
  <form>
      <p v-if="errors.global" class="error-message">{{errors.global}}</p>

      <div class="form-group-group login-group">
          <div class="row">
              <div class="form-group col-xs-12">
                  <input id="emailAddress" name="emailAddress" class="form-control" placeholder="Email address" v-model.lazy.trim="email">
                  <p v-if="errors.email" class="error-message">{{errors.email}}</p>
              </div>
          </div>
          <div class="row">
              <div class="form-group  col-xs-12">
                  <input id="password" name="password" class="form-control" placeholder="Password" type="password" v-model.lazy.trim="password">
                  <p v-if="errors.password" class="error-message">{{errors.password}}</p>

                  <a href="#/reset-password-request">I forgot my password or username</a>
              </div>
          </div>
          <div class="row">
              <div class="form-group  col-xs-12">
                  <input type="checkbox" name="rememberMe" v-model="rememberMe"> Remember me
              </div>
          </div>

          <div class="row">
              <div class="form-group  col-xs-12">
                  <button id="loginButton" type="submit" class="btn btn-block btn-primary btn-big" @click='loginWithTinybeans($event)'>Login</button>
                  <p>
                    or <a href="/app/#/signup" data-action="click" data-category="login page events" data-label="signup link" data-trackable="true">sign up</a> now, it's free!
                  </p>
                  
              </div>
          </div>
      </div>


      <a href="" class="btn btn-big facebook" data-action="click" data-category="login page events" data-label="facebook login button" data-trackable="true" data-ember-action="554">Continue with Facebook</a>
  </form>
</div>
</template>

<script>
import {emailValidation} from '@/helpers/helpers';
import {authenticateWithTinybeans} from '@/helpers/Authentication';

const errorMsgs = {
  emailRequired: 'Email address is required',
  emailInvalid: 'Email address is invalid',
  passwordRequired: 'Password is required'
};

export default {
  name: 'LogIn',
  data: function () {
    return {
      email: '',
      password: '',
      rememberMe: '',
      errors: {
        email: '',
        password: '',
        global: ''
      }
    };
  },
  methods: {
    loginWithTinybeans: function(event) {
      if (event) event.preventDefault();
      
      let hasErrors = false;
      if(!this.email) {
        this.errors.email = errorMsgs.emailRequired;
        hasErrors = true;
      }

      if(!this.password) {
        this.errors.password = errorMsgs.passwordRequired;
        hasErrors = true;
      }

      if(!hasErrors) {
        const credentials = {
          email: this.email,
          password: this.password,
          rememberMe: this.rememberMe,
          inviteToken: this.$route.query.inviteToken ? this.$route.query.inviteToken : null
        };
        authenticateWithTinybeans(credentials)
        .then((res) => {
          //just simply redirect
          window.location.href = '/app/#/main/journals/home';
          //to-do
          //Need to check react and ember to see what need to be done once user is authenticated
        })
        .catch((error) => {
          console.error(error);
          this.errors.global = 'Unexpected error! Please try to log in later.';
        });
      }
    }
  },
  watch: {
    email: function() {
      if(!emailValidation(this.email)) {
        this.errors.email = errorMsgs.emailInvalid;
      } else {
        this.errors.email = '';
      }
    },
    password: function() {
      if(this.password) {
        this.errors.password = '';
      }
    }
  }
}
</script>

<style scoped>
.login-form {
  width: 50%;
  margin: auto;
  color: #2b3561;
}

/* .error-message {
  display: none;
}

.error-message.show {
  display: block;
} */


</style>